@* namespace Views klasörü altındaki 'web.config' dosyasına eklendi.  *@

@model List<_Message>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Genceric Custom Html Helper</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <br /><br />
    </div>

    <div class="container">
        @foreach (_Message item in Model)
        {
            // x, yukarıda @model ile belirtilen Model' ı temsil ediyor.
            @Html.AlertFor(x => item, new { title = item.Text, level = item.Level })
        }

    </div>
</body>
</html>
