
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h4>AnaSayfa</h4>
    </div>

    <div>
        @Html.ActionLink("Link 1 ", "Show", new { belgeno = 1 })
        <br />
        @Html.ActionLink("Link 2", "Show", new { id = 1 })
    </div>
</body>
</html>
