@model List<string>
@{
    ViewBag.Title = "Test";
}

<h2>Anti Forgery Token</h2>

<div class="row">
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">@item</li>
        }
    </ul>
</div>

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken() @* Sayfanın get metodu çalışırsa bir token(jeton,işaret vb.) oluşturur. *@
        <strong> Index: </strong>
        @Html.TextBox("id","", new { @class = "form-control" })
        <button class="btn btn-danger" type="submit">Gönder</button>
    }
</div>