<h2>Faydali Linkler</h2>
<ul>
    <li><a href="#">Amet, consectetur adipiscing elit.</a></li>
    <li><a href="#">Fusce vel sapien elit.</a></li>
    <li><a href="#">In malesuada semper mi.</a></li>
    <li><a href="#">Id sollicitudin urna fermentum.</a></li>
    <li><a href="#">Ut fusce varius nisl.</a> </li>
</ul>
