@using CustomHtmlHelperMethod.Library;
@{
    ViewBag.Title = "Index";
}

<html>
<body>
    <div>
        @Html.Button("btn1",ButtonType.button,text: "Onay")<br />
        @Html.Button("btn2",ButtonType.button,"Gönder")
        @Html.ButtonWithTagBuilder("btnOk2", ButtonType.submit, "İptal")
        <hr />
        @Html.Paragraph("p1",4,"dashed",@<text><b style='color : red;'>Ebubekir Doğan</b></text>)
    </div>
</body>
</html>
