@model List<string>

<ul class="list-group">
    @foreach (string kategori in Model)
    {
        <li class="list-group-item">
            <a href="/Home4/Kategori?adi=@kategori">
                @kategori
            </a>
        </li>
    }
</ul>