
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/Views_Layouts/_LayoutPage2.cshtml";
}

<h2>about</h2>
<hr />

<a href="">Sit amet, consectetur.</a> <br />
<a href="">Adipiscing elit fusce.</a> <br />
<a href="">Vel sapien elit.</a>
