
@{
    ViewBag.Title = "Index3";
}

<h2>Index3</h2>

<button id="btnLoad" type="button" class="btn btn-success">Verileri yükle</button>
<input id="txtData" type="text" class="form-control" placeholder="veri giriniz" style="width:200px;" />
<button id="btnLoad2" type="button" class="btn btn-success">Verileri gönder &amp; yükle</button>
<hr />

<div id="loading" class="alert alert-warning" style="display:none;">yükleniyor..</div>

<ul id="list" class="list-group"></ul>

<script>

    $(function () {

        // ajax ile veri çekme
        $("#btnLoad").click(function () {

            $.ajax({
                method: "GET",
                url: "/Home/VerileriGetir",
                beforeSend: function () { $("#list").empty(); $("#loading").show(300); } // ajax öncesinde çalışır.
            }).done(function (d) {      // ajax başarılı olursa çalışır
                $("#list").html(d);
            }).fail(function () {
                alert("Hata");
            }).always(function () {
                $("#loading").hide(300);
            });
        });

        // ajax ile veri gönderme ve çekme
        $("#btnLoad2").click(function () {

            $.ajax({
                method: "POST",
                url: "/Home/VerileriGetir",
                data: { veri: $("#txtData").val() },  // Veri eklendi
                beforeSend: function () { $("#list").empty(); $("#loading").show(300); }
            }).done(function (d) {
                $("#list").html(d);
            }).fail(function () {
                alert("Hata");
            }).always(function () {
                $("#loading").hide(300);
            });

        });
    });

</script>