
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<button id="btnLoad" type="button" class="btn btn-success">Verileri yükle</button>
<input id="txtData" type="text" class="form-control" placeholder="veri giriniz" style="width:200px;" />
<button id="btnLoad2" type="button" class="btn btn-success">Verileri gönder &amp; yükle</button>
<hr />

<div id="loading" class="alert alert-warning" style="display:none;">yükleniyor..</div>

<ul id="list" class="list-group"></ul>

<script>

    // show, hide fonksiyonlarının ikinci parametreleri işlem bittikten sonra çalıştırılacak fonksiyonlardır.
    // JQuery de aynı bölüm içinde ayrı ayrı tanımlanmış fonk. aynı anda çalışırlar.
    // Bu yüzden get fonksiyonu show fonksiyonunun ikinci parametresine verilmiştir.

    $(function () {

        // get ile veri çekme
        $("#btnLoad").click(function () {
            $("#list").empty();
            $("#loading").show(300, function () {
                $.get("/Home/VerileriGetir", function (e) {
                    $("#list").html(e);         // Başarılı olma durumnda çalışır
                }).fail(function () {
                    alert("Hata Oluştu");       // Hata durumnda çalışır
                }).always(function () {
                    $("#loading").hide(300);    // Herzaman çalışır
                });
            });
        });

        // get ile veri gönderme ve çekme
        $("#btnLoad2").click(function () {
            $("#list").empty();
            $("#loading").show(300, function () {
                var data = $("#txtData").val();
                $.get("/Home/VerileriGetir", { veri: data }, function (e) {
                    $("#list").html(e);
                    $("#loading").hide(300);
                });
            });
        });
        // get işlemi, verileri url nin içinde gönderir. Bu nedenle hem güvenlik sorunu vardır hem de url belli
        //  bir karakter sayısına kadar metin aldığı için, çok büyük veriler gönderilemez.
        // C# tarafında json verisinin({ veri: data }) alınabilmesi için json'daki parametre adı ile
        // C#'taki fonksiyonun parametre adı aynı olmalıdır.
    });

</script>