
@{
    ViewBag.Title = "Index3";
}

<h2>Index4</h2>

<button id="btnLoad" type="button" class="btn btn-success">Verileri yükle</button>
<input id="txtData" type="text" class="form-control" placeholder="veri giriniz" style="width:200px;" />
<button id="btnLoad2" type="button" class="btn btn-success">Verileri gönder &amp; yükle</button>
<hr />

<div id="loading" class="alert alert-warning" style="display:none;">yükleniyor..</div>

<ul id="list" class="list-group"></ul>

<script>

    // Json ile yapılan işlemler client üzerinde gerçekleştiği için, 
    // sunucu tarafında partialView döndürmeye göre daha performaslıdır.

    $(function () {

        $("#btnLoad").click(function () {

            $.ajax({
                method: "GET",
                url: "/Home/VerileriGetir2",
                beforeSend: function () { $("#list").empty(); $("#loading").show(300); }
            }).done(function (d) {
                for (var i in d) {
                    var dd = d[i];
                    var li = $("<li class='list-group-item'></li>");
                    li.html(dd);
                    $("#list").append(li);
                }
            }).fail(function () {
                alert("Hata");
            }).always(function () {
                $("#loading").hide(300);
            });
        });


        $("#btnLoad2").click(function () {

            $.ajax({
                method: "POST",
                url: "/Home/VerileriGetir2",
                data: { veri: $("#txtData").val() },
                beforeSend: function () { $("#list").empty(); $("#loading").show(300); }
            }).done(function (d) {
                for (var i in d) {
                    var dd = d[i];
                    var li = $("<li class='list-group-item'></li>");
                    li.html(dd);
                    $("#list").append(li);
                }
            }).fail(function () {
                alert("Hata");
            }).always(function () {
                $("#loading").hide(300);
            });

        });
    });

</script>