
@{
    ViewBag.Title = "FakeTest";
}

<h2>FakeTest</h2>

<div class="row">
    @* AntiForgery controller'ındaki Test action'ına Post işlemi gönderir.*@
    @using (Html.BeginForm("Test", "AntiForgery", FormMethod.Post))
    {
        <strong> Index: </strong>
        @Html.TextBox("id", "", new { @class = "form-control" })
        <button class="btn btn-danger" type="submit">Gönder</button>
    }
</div>