
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*<script>alert("Merhab Dünya");</script>*@
    <script src="~/JavaScriptResult/BaslangicMesaji"></script>
    <script src="~/JavaScriptResult/jsButtonClick"></script>
</head>
<body>
    <div>
        <input type="button" value="Mesaj Ver.." onclick="button_click();" />
    </div>
</body>
</html>
