
@{
    ViewBag.Title = "contact";
    Layout = "~/Views/Shared/Sections/_LayoutPage1.cshtml";
}

<h2>contact</h2>

<ul>
    <li>Consectetur adipiscing elit fusce vel.</li>
    <li>Sapien elit in malesuada semper.</li>
    <li>Mi, id sollicitudin urna fermentum.</li>
    <li>Ut fusce varius nisl ac.</li>
</ul>

@section footer{

    <b>İletişim</b> <br />
}
