
@{
    ViewBag.Title = "homePage";
    Layout = "~/Views/Shared/Sections/_LayoutPage1.cshtml";
}

<h2>homePage</h2>

<p>
    In malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl.
    Ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc.
</p>
<p>
    In malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl.
    Ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc.
</p>
<p>
    In malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl.
    Ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc.
</p>
<p>
    In malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl.
    Ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc.
</p>
<p>
    In malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl.
    Ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc.
</p>

@section links{

    <li>@Html.ActionLink("Blog", "blog", "Sections")</li>
    <li>@Html.ActionLink("Hakkımızda", "about", "Sections")</li>
    <li>@Html.ActionLink("İletişim", "contact", "Sections")</li>
}

@section footer{

    <b>Ana Sayfa</b> <br />
}
