@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

@*
    * InsertionMode.InsertAfter => İlgili hedef elementin içinde en alta
    * InsertionMode.InsertBefore => İlgili hedef elementin içinde en üste
    * InsertionMode.Replace => İlgili hedef elementin içindekilerin üstüne yazar
    * InsertionMode.ReplaceWith => İlgili hedef elementinin üstüne yazar

    * LoadingElementId => Veriler yüklenirken görünecek element
    * LoadingElementDuration => Veriler yüklenirken görünecek elementin ekrana getirilme ve ekrandan kaldırma
       animasyonunun süresi.
*@

@Ajax.ActionLink("Verileri Yükle", "LoadData", null,
         new AjaxOptions()
         {
             HttpMethod = "GET",
             UpdateTargetId = "list",
             InsertionMode = InsertionMode.Replace,
             LoadingElementId = "loading",
             LoadingElementDuration = 300
         }, new { @class = "btn btn-success" })

<div id="loading" class="alert alert-warning" style="display:none;">Yükleniyor..</div>
<ul id="list" class="list-group"></ul>