@model Kisiler
@{
    ViewBag.Title = "Duzenle";
}

<h2>Kişi Düzenle</h2>
<hr />

<style>
    .wd span {
        width: 60px;
    }
</style>

@using (Html.BeginForm())
{
    <div class="col-md-4 wd">
        <div class="input-group input-group-sm mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text" id="txtAd"> Ad </span>
            </div>
            @Html.TextBoxFor(x => x.Ad, new { @class = "form-control", aria_describedby = "txtAd" })
        </div>

        <div class="input-group input-group-sm mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text" id="txtSoyad"> Soyad </span>
            </div>
            @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control", aria_describedby = "txtSoyad" })
        </div>

        <div class="input-group input-group-sm mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text" id="txtYas"> Yaş </span>
            </div>
            @Html.TextBoxFor(x => x.Yas, new { @class = "form-control", aria_describedby = "txtYas" })
        </div>

        <div class="input-group input-group-sm mb-4">
            <input type="submit" value="Kaydet" class="btn btn-success" />
        </div>

        <div class="input-group input-group-sm mb-1">
            @if (ViewBag.Result != null)
            {
                <div class="alert alert-@ViewBag.Status " role="alert">@ViewBag.Result</div>
            }
        </div>
    </div>
}





