@model Adresler

@{
    ViewBag.Title = "Düzenle";
}

<h2>Adres Düzenle</h2>
<hr />

<style>
    .wd span {
        width: 60px;
    }
</style>

@using (Html.BeginForm())
{
    <div class="col-md-4 wd">
        <div class="input-group input-group-sm mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text" id="txtAdres"> Adres </span>
            </div>
            @Html.TextAreaFor(x => x.AdresTanim, new
            {
                @class = "form-control",
                aria_describedby = "txtAdres",
                cols = "30",
                rows = "5"
            })
        </div>

        <div class="input-group input-group-sm mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text" id="ddlKisiler"> Kişi </span>
            </div>
            @Html.DropDownListFor(x => x.Kisi.Id, (List<SelectListItem>)ViewBag.Kisiler, new
            {
                @class = "form-control",
                aria_describedby = "txtAdres"
            })
        </div>

        <div class="input-group input-group-sm mb-4">
            <input type="submit" value="Kaydet" class="btn btn-success" />
        </div>

        <div class="input-group input-group-sm mb-1">
            @if (ViewBag.Result != null)
            {
                <div class="alert alert-@ViewBag.Status " role="alert">@ViewBag.Result</div>
            }
        </div>
    </div>
}
