@{
    Layout = "~/Views/Shared/Views_Layouts/_LayoutPage1.cshtml";
}
@*_LayoutPage1' in içinde bir layout daha oluşturur.*@

<div style="width:660px;">
    @RenderBody()
</div>

<div style="float:right;">
    <h4>İletişim Numaraları</h4>
    <ul>
        <li>212 456 6678</li>
        <li>212 457 9874</li>
        <li>216 475 5896</li>
        <li>216 745 5697</li>
    </ul>

</div>