<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        .block {
            display: block;
            margin: 10px;
            padding: 10px;
            border: 2px dotted gray;
        }

        /* ul nin altındaki li */
        #menu ul li {
            display: inline-block;
            width: 100px;
            height: 30px;
            text-align: center;
            border: 1px solid #d3d3d3;
            background-color: #0bb6ee;
            margin: 5px;
            line-height: 30px;
            vertical-align: middle;
        }

        /*linkler*/
        #menu a {
            color: #fff;
            font-size: smaller;
        }

        /*üzerinde durma*/
        #menu li:hover {
            background-color: #00feb8;
        }

            #menu li:hover a {
                color: #134dee;
            }
    </style>


</head>
<body>

    @* Header (Üst bilgi) *@
    <div id="menu" class="block">
        <ul>
            <li>@Html.ActionLink("Ana Sayfa", "homePage", "Views_Layouts")</li>
            <li>@Html.ActionLink("Hakkında", "about", "Views_Layouts")</li>
            <li>@Html.ActionLink("İletişim", "contact", "Views_Layouts")</li>
        </ul>
    </div>

    @* body (değişken kısım) *@
    <div class="block">
        @RenderBody()
    </div>

    @*Footer (Alt Bilgi) *@
    <div class=" block">
        <b>Tüm Hakları Saklıdır &copy; 2018</b>
    </div>
</body>
</html>
