@model List<string>

@foreach (var item in Model)
{
    <li id="@Model.IndexOf(item)" class="list-group-item">

        @Ajax.ActionLink("Sil", "RemoveData", new { id = Model.IndexOf(item) }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "list", InsertionMode = InsertionMode.Replace, LoadingElementId = "loading", LoadingElementDuration = 300 }, new { @class = "btn btn-warning" })
        &nbsp;@item
    </li>
}
